<?xml version='1.0' encoding='UTF-8'?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="gntikos.plugin.bluetoothsco" 
        version="0.0.1" >

    <name>BluetoothSco</name>
    <description>Empty description</description>
    <author>gntikos (Giorgos Siantikos)</author>
    <keywords></keywords>
    <license>Apache 2.0 license</license>

    <js-module src="www/BluetoothSco.js" name="BluetoothSco">
        <clobbers target="BluetoothSco" />
    </js-module>
    
    <platform name="android">
        <source-file src="src/android/BluetoothSco.java" target-dir="src/gntikos/plugin/bluetoothsco" />
        
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="BluetoothSco">
                <param name="android-package" value="gntikos.plugin.bluetoothsco.BluetoothSco" />
            </feature>
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.BLUETOOTH"/>
            <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
            <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
        </config-file>
    </platform>
</plugin>
